.inner-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding: 50px;
  box-shadow:rgba(0, 0, 0,.35) 0px 5px 15px;
  border-radius: 20px;
  background-color: rgb(96, 207, 211);
}
.label{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}
input[type=text]{
  border: 2px solid #150;
  height: 35px;
  width: 400px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-radius: 5px;
  font-weight: 100;
  border-radius: 5px;
}
.btn{
  border: 1px solid rgb(14, 187, 240);
  height: 35px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: 100;
  text-align: center;
  color: #ffffff;
  background-color: rgb(10, 99, 233);
  cursor: pointer;
}
.header{
  padding-left: 20px;
  font-weight: 500;
}